<div>
	<h1>New Product</h1>
	<small
		[hidden]="name.valid || (name.untouched && !form.submitted)">
		more than 3 chac pls! |
	</small>
	<small
		[hidden]="qty.valid || (qty.untouched && !form.submitted)">
		bigger than 0 pls! |
	</small>
	<small
		[hidden]="price.valid || (price.untouched && !form.submitted)">
		Betta rise yor price up
	</small>
	<form #form="ngForm" (submit)="addProduct($event); form.reset(event)">
		<label>Name</label>
		<input class="input" 
		type="text" 
		name="name" 
		[(ngModel)]="new_product.name"
		#name = "ngModel"
		minlength="3"
		required 
		>
		<label>Qty</label>
		<input class="input"
		type="number" 
		name="qty" 
		[(ngModel)]="new_product.qty"
		#qty = "ngModel"
		min="1" 
		required 
		>
		<label>Price</label>
		<input class="input"
		type="number" 
		name="price" 
		[(ngModel)]="new_product.price"
		#price = "ngModel"
		min = "1"
		required 
		>
		<div id="buttons">
      <button (click)="event.reset()">Reset</button>
			<input  [disabled]="!form.valid" type="submit" value="CREATE">
		</div>
	</form>
	{{error}}
</div>